<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.8.1" />
    <httpRuntime targetFramework="4.8.1"/>
  </system.web>
  <system.serviceModel>
    <!--<behaviors>
      <serviceBehaviors>
        <behavior>
          --><!-- To avoid disclosing metadata information, set the values below to false before deployment --><!--
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          --><!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information --><!--
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>-->
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
	  <services>
		  
		  <!--<service name="NFSService.MyService" behaviorConfiguration="GreetingBehavior" >
			  <endpoint address="JSON" binding="webHttpBinding" contract="NFSService.IMyService"
      bindingConfiguration="webHttpBindingJSON" behaviorConfiguration="JSONEndPointBehavior" name="RestEP"/>
			  <endpoint address="XML" binding="webHttpBinding" contract="NFSService.IMyService"
      bindingConfiguration="webHttpBindingXML" behaviorConfiguration="XMLEndPointBehavior" name="SoapEP"/>
			  <endpoint name="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
		  </service>-->
	   <service name="NFSService.ProductService" behaviorConfiguration="GreetingBehavior" >
			  <endpoint address="JSON" binding="webHttpBinding" contract="NFSService.IProductService"
      bindingConfiguration="webHttpBindingJSON" behaviorConfiguration="JSONEndPointBehavior" name="RestEP"/>
			  <endpoint address="XML" binding="webHttpBinding" contract="NFSService.IProductService"
      bindingConfiguration="webHttpBindingXML" behaviorConfiguration="XMLEndPointBehavior" name="SoapEP"/>
			  <endpoint name="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
		  </service>
	  </services>
	  <bindings>
		  <webHttpBinding>
			  <binding name="webHttpBindingXML"/>
			  <binding name="webHttpBindingJSON"/>
		  </webHttpBinding>
	  </bindings>
	  <behaviors>
    <endpointBehaviors>
     <behavior name="JSONEndPointBehavior">
      <webHttp defaultOutgoingResponseFormat="Json" />
     </behavior>
     <behavior name="XMLEndPointBehavior">
      <webHttp defaultOutgoingResponseFormat="Xml" />
     </behavior>
    </endpointBehaviors>
    <serviceBehaviors>
     <behavior name="GreetingBehavior">
      <serviceMetadata httpGetEnabled="true" />
      <serviceDebug />
     </behavior>
     <behavior name="">
      <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
      <serviceDebug includeExceptionDetailInFaults="false" />
     </behavior>
    </serviceBehaviors>
   </behaviors>
	  
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
